@model afspraakModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>afspraakModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.voornaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.voornaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.achternaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.achternaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.jongerDan16)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.jongerDan16)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.geboorteDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.geboorteDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BSN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BSN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailvanOuder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailvanOuder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.emailvanGebruiker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.emailvanGebruiker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gekozenDatum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gekozenDatum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gekozenTijd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gekozenTijd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
